.bg-dark {
    background-color: #8C0B23 !important;
}

nav.navbar.navbar-expand.navbar-dark.bg-dark {
    padding: 0px;
}

.nav-item {
    padding-top: 13px;
}

a.main-nav.nav-link {
    padding: 13px 0px 0px 0px
}

.log-button {
    padding: 13px 0px 0px 0px;
    margin-left: 10px;
    background: 0;
    border: none !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #F2F2F0 !important;
}




