.bg-dark {
    background-color: #8C0B23 !important;
}

nav.bg-dark.navbar.navbar-expand.navbar-light {
    padding: 0px;
}

.log-button {
    padding: 0px;
    margin-left: 10px;
    background: 0;
    border: none !important;
}
.navbar-light .navbar-nav .nav-link {
    color: #F2F2F0 !important;
}



